.form-container{
    margin: 50px;
    padding: 30px;
    width: 400px;
    background-color: #eee;
}

mat-form-field.mat-form-field {
    width: 100%;
    background-color: rgba(0,0,0,.04);
  }

  .mat-raised-button{
    width:100%;
  
}

.back-button{
    background:none;
    border:none;
    display: flex;
   margin-bottom: 30px;
}

@media(max-width: 768px){
    .form-container{
        margin: 0px;
    
        width: 90%;
        background-color: #eee;
    }
    .mat-form-field.mat-form-field {
        width: 90%;
      }

    .mat-raised-button{
        width:90%;
    }
    
}

