
<div class="form-container" [@flyInOut]="'in'">
<button class = "back-button" routerLink="/movies">
<mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_backspace</mat-icon></button>
<div *ngIf="formSuccess" routerLink="/movies">
  Successfully added a new movie! 
</div>
<form (ngSubmit)="onAddItem(f)" #f="ngForm" novalidate>
<h2>Add a new movie</h2>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput 
    type="string"
    id="Title"
    class = "form-control"
    name = "Title"
    ngModel>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
     <mat-label>Director</mat-label>
     <input matInput 
    type="string"
    id="Director"
    class = "form-control"
    name = "Director"
    ngModel>
  </mat-form-field>
  <br>
        <label>Movie cover image</label>
        <br>
        <br>
        <input type="file" id ="file" (change)="uploadFile($event.target.files)">
     
        <mat-progress-bar mode="determinate"  *ngIf = "uploadPercent" value="{{uploadPercent |  async}}"></mat-progress-bar>
    <br>
    <br>
      <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Write here.." 
        type="string"
    id="Description"
    class = "form-control"
    name = "Description"
    ngModel>
      </textarea>
      </mat-form-field>
<button mat-raised-button type ="submit">Submit</button>
</form>
</div>
