

.movies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
  

}


.mat-card {
    height: 300px;
    width: 200px;
    background-color: #eee;
    margin: 20px;
    color: black;
    transform: scale(1);
    transition: transform 0.5s;
}

.mat-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.movie-img{
    width: 80%;
    height: 80%;
    margin-left: 10%;
}